<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de categorias</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.id}"></td>
                <td th:text="${categoria.nombre}"></td>
                <td th:text="${categoria.descripcion}"></td>
                <td>
                    <a th:href="@{/categoria/editar/{id}(id=${categoria.id})}">Editar</a>
                    <a th:href="@{/categoria/eliminar/{id}(id=${categoria.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${bien != null}">
        <p style="color: green" th:text="${bien}"></p>
    </div>
</body>
</html>