<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Producto</title>
</head>
<body>

<div>
<h1 th:text="${producto.id != null ? 'Editar Producto' : 'Crear Producto'}"></h1>
</div>
<form action="/producto/guardar" method="post" th:object="${producto}" enctype="multipart/form-data">
    <input type="hidden" id="id" th:field="*{id}">

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" th:field="*{nombre}">
    <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: darkred"></div>

    <label for="descripcion">Descripción</label>
    <input type="text" id="descripcion" th:field="*{descripcion}">
    <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" style="color: darkred"></div>

    <label for="precio">Precio</label>
    <input type="number" id="precio" th:field="*{precio}" step="0.01">
    <div th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" style="color: darkred"></div>

    <label for="cantidad">Stock</label>
    <input type="number" id="cantidad" th:field="*{cantidad}">
    <div th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}" style="color: darkred"></div>

    <label for="imagenInput">Sube una imagen:</label>
    <input type="file" name="file" id="imagenInput"> <!-- AQUÍ VA EL CAMBIO -->

    <img th:src="@{${producto.imagen}}" alt="Imagen actual" style="max-width: 200px;" />

    <img id="preview" src="#" alt="Vista previa" style="display:none; max-width: 200px; margin-top: 10px;">

    <input type="hidden" th:field="*{total}">

    <button type="submit">Guardar Producto</button>
</form>

<script>
    document.getElementById("imagenInput").addEventListener("change", function(event) {
        const archivo = event.target.files[0];
        const preview = document.getElementById("preview");

        if (archivo) {
            const lector = new FileReader();

            lector.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            };

            lector.readAsDataURL(archivo); // Convierte la imagen a base64 para mostrarla
        } else {
            preview.src = "#";
            preview.style.display = "none";
        }
    });
</script>

</body>
</html>