<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Producto tabla</title>
</head>
<body>

    <a th:href="@{/producto/nuevo}">Crear Producto</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${lista}">
                <td th:text="${producto.id}"></td>
                <td>
                    <img th:src="${producto.imagen}" alt="imagen del producto" width="100" height="100">
                </td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.descripcion}"></td>
                <td th:text="${producto.precio}"></td>
                <td th:text="${producto.cantidad}"></td>
                <td th:text="${producto.total}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>